@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
  font-family: "Poppins", sans-serif;
  width: 100%
  font-color: #fff;
  initial-scale = 1;
  height: 100%;
}
html
{
  height: 100% ;
}
h3
{
  font-size: 46px ;
}
hr
{
  margin: auto;
  width: 40%;
  border-color: #9e9e9e ;
}
button
{
  background:  transparent;
  height:  52px;
  line-height:  50px;
  border:  2px solid white;
  display:  inline-block;
  float:  none;
  text-align:  center;
  width:  240px;
  padding:  0px!important;
  font-size:  28px;
  color:  #fff;
}
button:hover
{
  font-weight: bold;
  color:  #fff;
  background: rgba(255, 255, 255, 0.2);
}
p
{
  left: 30px;
  color: #fff;
}
footer 
{
  text-align: left;
  padding: 3px;
  width: auto;
  background-color: #303030;
  color: white;
}
img
{
  height: 80px;
  width: 110px;
}
.bgimg {
  background-image: url('img1.jpg');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.messge
{
  color: #fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}
.icn
{
  position:fixed;
  z-index: 100;
  left:0;
  top:0;
  padding: 12px 24px;
  font-size: 24px ;
  color: #fff;
}
.menu
{
  position:fixed;
  z-index: 100 ;
  right:5px;
  top:15px;
}
.btns
{
  background:  transparent;
  height:  38px;
  line-height:  40px;
  border-style: none;
  display:  inline-block;
  float:  none;
  text-align:  center;
  width:  120px;
  padding:  0px!important;
  font-size:  14px;
  color:  #fff;
}
.about
{
  background-image: url('img2.jpg');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}
.detail
{
  font-size: 24px ;
  position:absolute;
  left:50%;
  bottom:0;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%);
}
.definition
{
  background-color: #345b63;
  color: #000000;
  margin: 4px ;
  padding: 3% ;
  font-size: 20px ;
  position:absolute;
  top:50%;
  left:40%;
  transform:translate(-32%,-70%);
  -ms-transform:translate(-50%,-50%);
}