@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
}

.divider{
    height: 700px;
    width: 5px;
    background-color: aqua;
    display: inline-block;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

img{
    width: 20px;
    height: 20px;
}

.btn-2{
    width: 400px;
    height: 300px;
    border: none;
    color: white;
    background-color: rgb(43, 209, 112);
    border-radius: 8px;
    box-shadow: inset 0px 3px 6px green;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn-2:hover{
    box-shadow: inset 400px 0 0 0 greenyellow;
    cursor: pointer;
    color: black;
}